body {
	background: url(../img/background.jpg);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #000;
	color: #fff;
	font-family: "Helvetica Neue", Arial, serif;
	font-size: 16px;
	text-align: center;
}

a {
	color: #6af099;
}

a:hover {
	color: #5ed688;
}


.artwork {
	width: 80%;
	position: relative;
	margin: 5vh auto 7vh;
}


#mc_embed_signup {
	width: 80%;
	max-width: 560px;
	margin: 0 auto;
}

#mc_embed_signup input, .response {
	width: 100%;
	margin-bottom: 5px;
	padding: 10px;
	border: none;
	border-radius: 0;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

#mc_embed_signup input, .response {
	width: 100%;
	margin-bottom: 5px;
	padding: 10px;
	border: none;
	border-radius: 0;
}

#mc_embed_signup .button {
	font-family: 'ITCAvantGardeGothW04-Bo 1122872', "Helvetica Neue", Arial, serif;
	border: none;
	color: #000;
	background-color: #6af099;
}

#mc_embed_signup .button:hover {
	background-color: #5ed688;
}

#mc_embed_signup .button:focus,
#mc_embed_signup .button:active {
	background-color: #53bd78;
}



.mc-field-group > input {
	color: #000;
	text-align: center;
}

.indicates-required {
	font-size: 12px;
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: "Helvetica Neue", Arial, serif;
  color: #777;
  text-align: center;
}
::-moz-placeholder { /* Firefox 19+ */
  font-family: "Helvetica Neue", Arial, serif;
  color: #777;
  text-align: center;
}
:-ms-input-placeholder { /* IE 10+ */
  font-family: "Helvetica Neue", Arial, serif;
  color: #777;
  text-align: center;
}
:-moz-placeholder { /* Firefox 18- */
  font-family: "Helvetica Neue", Arial, serif;
  color: #777;
  text-align: center;
}

@media screen and (max-width: 1440px), screen and (max-device-width: 1440px) {

	.artwork {
		width: 60%;
	}

@media screen and (max-width: 1024px), screen and (max-device-width: 1024px) {

	.artwork {
		width: 80%;
	}


@media screen and (max-width: 420px), screen and (max-device-width: 420px) {


	.artwork {	
		width: 100%;
	}

	.date {
		font-size: 16px;
		margin-bottom: 18px;
	}

	.date .tight {
		letter-spacing: -2;
	}

	#mc_embed_signup {
		width: 100%;
	}	

	.info {
		font-size: 14px;
	}

}
